.news-details {
  padding-top: 102px;

  @include tablet {
    padding-top: 122px;
  }

  @include laptop {
    padding-top: 142px;
  }

  @include desktop {
    padding-top: 230px;

  }

  .page-title {
    @include text-style-96;
    color: $color-yellow;
  }
}

.news-details__container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px 20px 60px 75px;
  margin-bottom: 40px;
  margin-top: 40px;

  @include tablet {
    padding: 40px 24px 60px 115px;
  }

  @include laptop {
    padding: 60px 150px 100px 150px;
  }

  @include desktop {
    padding: 60px 288px;
  }

}

.btn-back {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .arrow-down__button {
    transform: rotateZ(180deg);
    width: 43px;
    height: 43px;
    border-color: $color-black;

    @include tablet {
      width: 70px;
      height: 70px;
    }

    @include laptop {}

    @include desktop {
      width: 94px;
      height: 94px;
    }

    svg path {
      stroke: $color-black;

    }
  }

  p {
    display: none;
    @include text-style-general-style;

  }

  @include tablet {


    p {
      display: block;
      @include text-style-general-style;
    }
  }

  @include laptop {}

  @include desktop {
    top: 60px;
    left: 100px;
  }
}

.news-details__img {
  width: 100%;
  padding-top: 20px;
}

.news-details__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
  @include text-style-general-style;
  color: $color-black;
}

.news-details__list-title {
  font-weight: 700;
}

.news-details__list {
  list-style-type: disc;
  padding-left: 40px;

  li {
    list-style: circle;
  }
}

.news-details__video {
  width: 100%;
  height: 743px;

}

.news-details__location {
  .news-details__location-link {
    text-decoration: underline;
    color: $color-yellow;

  }
}

.news-details__last-container {
  border-top: 2px solid $color-black;
  padding-bottom: 100px;

}

.news-details__last-title {
  @include text-style-96;
  color: $color-yellow;
  margin-bottom: 40px;
  padding-top: 100px;

}