.news-details {
  padding-top: 102px;

  @include tablet {
    padding-top: 122px;
  }

  @include laptop {
    padding-top: 142px;
  }

  @include desktop {
    padding-top: 230px;
  }

  .page-title {
    @include text-style-96;
    color: $color-yellow;

    @include tablet {
      font-size: 28px;
    }

    @include laptop {
      font-size: 60px;
    }

    @include desktop {
      font-size: 96px;
    }
  }
}

.news-details__container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px 20px 60px 75px;

  margin-top: 40px;

  @include tablet {
    padding: 40px 24px 60px 115px;
  }

  @include laptop {
    padding: 60px 150px 100px 150px;
  }

  @include desktop {
    margin-bottom: 40px;
    padding: 60px 288px;
  }
}

.btn-back {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .arrow-down__button {
    transform: rotateZ(180deg);
    width: 43px;
    height: 43px;

    border: 1px solid $color-black;

    @include tablet {
      width: 70px;
      height: 70px;
    }

    @include laptop {
    }

    @include desktop {
      border: 2px solid $color-black;
      width: 94px;
      height: 94px;
    }

    svg path {
      stroke: $color-black;
    }
  }

  p {
    display: none;
  }

  @include tablet {
    top: 40px;

    p {
      display: block;
      @include text-style-general-style;
    }
  }

  @include laptop {
    top: 60px;
    left: 40px;
  }

  @include desktop {
    top: 60px;
    left: 100px;
  }
}

.news-details__img {
  width: 100%;
  padding-top: 20px;
}

.news-details__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  @include text-style-general-style;
  color: $color-black;

  @include tablet {
  }

  @include laptop {
  }

  @include desktop {
    gap: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.news-details__list-title {
  font-weight: 700;
}

.news-details__list {
  list-style-type: disc;
  padding-left: 40px;

  li {
    list-style: circle;
  }
}

.news-details__video {
  width: 100%;
  height: calc((100vw - 95px) * 0.55);

  @include tablet {
    height: calc((100vw - 139px) * 0.55);
  }

  @include laptop {
    height: calc((100vw - 300px) * 0.55);
  }

  @include desktop {
    height: calc((100vw - 576px) * 0.55);
  }
}

.news-details__location {
  .news-details__location-link {
    overflow-wrap: break-word;
    text-decoration: underline;
    color: $color-yellow;
  }
}

.news-details__last-container {
  border-top: 2px solid $color-black;
  padding-top: 60px;
  padding-bottom: 60px;

  @include tablet {
    padding-bottom: 100px;
  }

  @include laptop {
    border-width: 3px;
  }

  @include desktop {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.news-details__last-title {
  @include text-style-96;
  color: $color-yellow;
  margin-bottom: 22px;

  @include tablet {
    font-size: 28px;
  }

  @include laptop {
    font-size: 60px;
  }

  @include desktop {
    margin-bottom: 40px;
    font-size: 96px;
  }
}
