.progress {
  .page-title {
    margin-bottom: 115px;
  }
}

.progress__filter-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 100px;

}

// .fiter__all {}
.filter__button {
  padding: 10px 0px;
  text-align: center;
  border-top: 2px solid $color-black;
  border-bottom: 2px solid $color-black;
  @include text-style-news-descr;
  color: $color-black;
  width: 98px;

  @include tablet {
    width: 207px;
  }

  @include laptop {
    padding: 20px 0px;
    border-top: 3px solid $color-black;
    border-bottom: 3px solid $color-black;
  }

}

.fiter__year {
  display: flex;
  justify-content: space-between;
  align-items: center;

  svg {
    width: 16px;
    height: 16px;
  }
}

.fiter__month {
  @extend .fiter__year;
}

.progress__container {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include tablet {
    gap: 60px;
  }

  @include laptop {
    gap: 20px;
  }

  @include desktop {
    gap: 60px;
  }
}

.active.filter__button {
  border-color: $color-yellow;

}