.purchase {
  padding-top: 100px;
  padding-bottom: 60px;

  @include tablet {
    padding-bottom: 100px;
    padding-top: 120px;
  }

  @include laptop {
    padding-top: 140px;

  }

  @include desktop {
    padding-top: 200px;
  }
}

.purchase__info-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 42px;

  .bg-parallax-wrap {
    position: static;
    width: 100%;
  }

  @include tablet {
    margin-top: 64px;
  }

  @include laptop {
    margin-top: 54px;
    gap: 20px;

    .bg-parallax-wrap {
      position: static;
      width: 1117px;
      height: 700px;


    }
  }

  @include desktop {
    margin-top: 64px;
    gap: 50px;
  }
}

.purchase__info-block {
  display: flex;
  flex-direction: column;
  gap: 12px;


  @include tablet {
    gap: 40px;
  }

  @include laptop {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &:nth-child(2) {
      flex-direction: row-reverse
    }
  }

  @include desktop {}
}

.purchase__info-title {
  @include text-style-p;
  color: $color-black;
  margin-bottom: 8px;

  @include tablet {
    margin-bottom: 20px;
  }

  @include desktop {
    margin-bottom: 28px;
  }


}

.purchase__info-descr {
  @include text-style-general-style;
  color: $color-black;


  @include laptop {
    max-width: 415px;
  }

  @include desktop {
    max-width: 549px;
  }

}