.form {
  display: flex;
  gap: 20px;
  margin-top: 50px;
  align-items: center;
}
.form-field__input {
  width: 663px;
  padding: 46px 60px;
  border: 1px solid rgba(68, 75, 85, 1);
  background-color: transparent;
  color: $color-gray-2;
  font-size: 36px;
  &::placeholder {
    @include text-style-p;
    color: $color-white;
  }
}
.form__button {
  @extend .all-progress-link;
  text-align: end;
}
.form__button-svg {
  transform: translateY(50%) scale(1.25);
}
.input-placeholder {
  @include text-style-p;
  color: $color-white;
}
