.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 60px;

  @include tablet {
    gap: 30px;
    flex-direction: row;
  }

  @include laptop {
    gap: 60px;
  }

  // @include desktop {
  // }
}

.inputs-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  @include tablet {
    flex-direction: row;
  }

  // @include laptop {
  //   flex-direction: row;
  // }

  // @include desktop {
  // }
}

.form-field__input {
  @include text-style-p;
  width: 100%;
  padding: 19px 40px;
  border: 1px solid rgba(68, 75, 85, 1);
  background-color: transparent;
  color: $color-white;
  text-align: center;

  &::placeholder {
    @include text-style-p;

    color: $color-white;
  }

  @include tablet {
    padding: 32px 40px;
  }

  @include laptop {
    width: 470px;
    text-align: start;
  }

  @include desktop {
    width: 663px;
    padding: 46px 60px;
  }
}

.form__button {
  @extend .all-progress-link;
  justify-self: flex-end;
}

.form__button-svg {
  transform: scale(1.25);

  @include laptop {
    transform: translateY(50%) scale(1.25);
  }
}

.input-placeholder {
  @include text-style-p;
  color: $color-white;
}

.submit-btn__text {
  @include laptop {
    max-width: 300px;
    text-align: end;
  }
}

.iti__flag {
  background-image: url('../../../3d/assets/images/libs/flags.png');
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .iti__flag {
    background-image: url('../../../3d/assets/images/libs/flags@2x.png');
  }
}

.input-message {
  color: $color-yellow;
  margin-bottom: 10px;
  margin-top: 5px;
}

.footer .iti--allow-dropdown input {
  padding-left: 0;
  padding-right: 0;

  @include laptop {
    padding-left: 56px;
    padding-right: 20px;
  }
}

.iti__country-list {
  bottom: 0;
  left: 0;
}