$margin: 15vw;

.card {
  display: block;
  width: 100%;
  height: 386px;
  border-radius: 40px;
  @include tablet {
    width: 100%;
    height: 620px;
    border-radius: 73.398px;
  }
  @include tablet-hor {
    border-radius: 30px;
    width: 226px;
    height: 287px;
    margin: 10vh auto;
    position: relative;
  }

  @include laptop {
    border-radius: 42px;
    width: 306px;
    height: 412px;
    margin: 15vh auto;
    position: relative;
  }

  @include desktop {
    width: 435px;
    height: 585px;
    border-radius: 60px;
    position: relative;
  }
}

.card--without-bulge {
  @extend .card;

  @include tablet-hor {
    position: relative;
  }

  @include desktop {
    position: relative;
  }
}

.card--without-bulge:nth-child(4n + 1) {
  @include tablet-hor {
    transform: translateY(10%);
  }
}

.card--without-bulge:nth-child(4n + 2) {
  @include tablet-hor {
    transform: translateY(50%);
  }
}

.card--without-bulge:nth-child(4n + 3) {
  @include tablet-hor {
    transform: translateY(-20%);
  }
}

.card--without-bulge:nth-child(4n + 4) {
  @include tablet-hor {
    transform: translateY(20%);
  }
}

.card--without-bulge:nth-child(14) {
  @include laptop {
    transform: translateY(-10%);
  }
}

// .card__img {
//   width: 100%;
//   height: 100%;
//   background-image: linear-gradient(to top, #383535c7, transparent 40%), url('./assets/images/scro');
// }

.cardOut__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  // border-radius: 60px;
}

.card__content {
  position: relative;
  width: 100%;
  height: 100%;

  border-radius: 40px;
  // border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;

  transition: transform 0.5s var(--ease-out-bounce) 0.3s;

  // background-image: linear-gradient(to top, #383535b0, transparent 30%);
  @include tablet {
    border-radius: 73.398px;
  }
  @include tablet-hor {
    // border-radius: 73.398px;
    border-radius: 30px;
  }
  @include laptop {
    border-radius: 42px;
  }

  @include desktop {
    border-radius: 60px;
  }
}

.card__canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card__logo {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 50%;
  transform: translate(-50%, -53%) scale(0.7);
  z-index: 3;
  opacity: 1;

  @include tablet {
    transform: translate(-50%, -53%) scale(1.25);
  }
  @include tablet-hor {
    width: 178.839px;
    height: 54.164px;
  }
  @include laptop {
    transform: translate(-50%, -53%) scale(1);
    width: 198.839px;
    height: 64.164px;
  }

  @include desktop {
    transform: translate(-50%, -53%) scale(1.3);
    width: 300.839px;
    height: 120.164px;
  }
}

// .is-visible .card__logo {
//   transition: transform 1.1s var(--ease-out-bounce) 500ms, opacity 1.5s var(--ease-out-bounce) 300ms;
//   opacity: 1;
//   transform: translate(-50%, -53%) scale(1);
// }

.card__mask {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  pointer-events: none;
  background-image: linear-gradient(to top, #383535d7, transparent 60%);
}
