section
  .section.chalet
    .container
      .section-title.spa-title 
        span.section-title__first-row 
          h2 Chalet
          span.section-title__accent & 
        h2.section-title__second-row(style="margin-top:0") Apartaments
      .chalet__bottom-content 
        p.chalet__text-block ОБЕРІТЬ АПАРТАМЕНТИ НА СВІЙ СМАК. ЗА ВСЕ ІНШЕ ПОДБАЄМО МИ.
        include ../includes/invest-link.pug