header(class="header "+headerCustomClass)
  .container.header-bg 
    .blocks-wrap
      .header__call-btn-wrap
        .contacts__phone--header.call-us__item
          p.contacts__label--header Продаж апартаментів:
          a(href="tel:+38 067 517 68 41").contacts__phone--invest +38 067 517 68 41
        .contacts__phone--header.call-us__item
          p.contacts__label--header Забронювати апартаменти:
          a(href="tel:+38 034 259 50 00").contacts__phone--booking +38 034 259 50 00
      button.header__call-btn.mode--mobile(data-call-us-btn)
        
        <svg class="svg--link-mobile" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="M22.9993 17.4712V20.7831C23.0006 21.0906 22.9375 21.3949 22.814 21.6766C22.6906 21.9583 22.5096 22.2112 22.2826 22.419C22.0556 22.6269 21.7876 22.7851 21.4958 22.8836C21.2039 22.9821 20.8947 23.0187 20.5879 22.991C17.1841 22.6219 13.9145 21.4611 11.0418 19.6019C8.36914 17.9069 6.10319 15.6455 4.40487 12.9781C2.53545 10.0981 1.37207 6.81909 1.00898 3.40675C0.981336 3.10146 1.01769 2.79378 1.11572 2.50329C1.21376 2.2128 1.37132 1.94586 1.57839 1.71947C1.78546 1.49308 2.03749 1.31221 2.31843 1.18836C2.59938 1.06451 2.90309 1.0004 3.21023 1.00011H6.52869C7.06551 0.994834 7.58594 1.18456 7.99297 1.53391C8.4 1.88326 8.66586 2.36841 8.74099 2.89892C8.88106 3.9588 9.14081 4.99946 9.5153 6.00106C9.66413 6.39619 9.69634 6.82562 9.60812 7.23847C9.51989 7.65131 9.31494 8.03026 9.01753 8.33042L7.61272 9.73245C9.18739 12.4963 11.4803 14.7847 14.2496 16.3562L15.6545 14.9542C15.9552 14.6574 16.3349 14.4528 16.7486 14.3648C17.1622 14.2767 17.5925 14.3089 17.9884 14.4574C18.992 14.8312 20.0348 15.0904 21.0967 15.2302C21.6341 15.3058 22.1248 15.576 22.4756 15.9892C22.8264 16.4024 23.0128 16.9298 22.9993 17.4712Z" stroke="#111111" stroke-width="1.71429" stroke-linecap="round"/>
        </svg>
      .call-us__modal-container.hidden(data-call-us-modal)
        <svg class="call-us__triangle-decor" xmlns="http://www.w3.org/2000/svg" width="24" height="12" viewBox="0 0 24 12" fill="none">
          <path d="M12 0L0 12H24L12 0Z" fill="#111111" fill-opacity="0.5"/>
        </svg>
        .contacts__phone--header.call-us__item
          p.contacts__label--header Продаж апартаментів:
          a(href="tel:+38 067 517 68 41").contacts__phone--invest +38 067 517 68 41
        .contacts__phone--header.call-us__item
          p.contacts__label--header Забронювати апартаменти:
          a(href="tel:+38 034 259 50 00").contacts__phone--booking +38 034 259 50 00

        //-   button.close-modal-btn(data-call-us-modal-close)
        //-     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
        //-       <path fill-rule="evenodd" clip-rule="evenodd" d="M2.29289 2.29289C2.68342 1.90237 3.31658 1.90237 3.70711 2.29289L8 6.58579L12.2929 2.29289C12.6834 1.90237 13.3166 1.90237 13.7071 2.29289C14.0976 2.68342 14.0976 3.31658 13.7071 3.70711L9.41421 8L13.7071 12.2929C14.0976 12.6834 14.0976 13.3166 13.7071 13.7071C13.3166 14.0976 12.6834 14.0976 12.2929 13.7071L8 9.41421L3.70711 13.7071C3.31658 14.0976 2.68342 14.0976 2.29289 13.7071C1.90237 13.3166 1.90237 12.6834 2.29289 12.2929L6.58579 8L2.29289 3.70711C1.90237 3.31658 1.90237 2.68342 2.29289 2.29289Z" fill="#111111"/>
        //-     </svg>
        //-   <svg class="call-us__triangle-decor" xmlns="http://www.w3.org/2000/svg" width="24" height="12" viewBox="0 0 24 12" fill="none">
        //-     <path d="M12 0L0 12H24L12 0Z" fill="white"/>
        //-   </svg>
        //-   .call-us__content-wrapper
        //-     .contacts__phone.call-us__item
        //-       p.contacts__label Відділ інвестицій:
        //-       a(href="tel:+38 067 517 68 41").contacts__phone--invest +38 067 517 68 41
        //-     .contacts__phone.call-us__item
        //-       p.contacts__label Відділ бронювання:
        //-       a(href="tel:+38 034 259 50 00").contacts__phone--booking +38 034 259 50 00
        //-     form.order-call 
        //-       .order-call__title.call-us__item 
        //-         span
        //-         h4 Замовити дзвінок
        //-         span
        //-       select.order-call__select.call-us__item(name="select")
        //-         option( value="" ) -- Оберіть відділ --
        //-         option(value="investment") Відділ інвестицій
        //-         option(value="reservation") Відділ бронювання
        //-       input.order-call__number.call-us__item(placeholder="Ваше ім'я" disabled) 
        //-       input.order-call__number.call-us__item(placeholder="Ваш номер телефону" disabled) 
        //-       button.order-call__submit-btn.call-us__item Надіслати повідомлення

      ul.language__list 
        li.language__item Ua
        li.language__item En
    a(href="/").header__logo 
      p.header__logo-name Mountain
      <svg class="logo" width="53" height="47" viewBox="0 0 53 47" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M17.3759 34.3247C16.7047 34.4506 16.0767 34.6592 15.484 34.9425C14.8914 35.2258 14.334 35.5839 13.812 36.0286C13.2978 36.4812 12.815 36.9967 12.4382 37.7326C13.2468 37.8979 13.9533 37.8506 14.6245 37.7326C15.2917 37.6066 15.9236 37.3981 16.5163 37.1108C17.109 36.8235 17.6663 36.4654 18.1844 36.0247C18.6986 35.5721 19.1814 35.0566 19.5621 34.3207C18.7536 34.1554 18.051 34.2066 17.3759 34.3207" fill="#111111"/>
        <path d="M30.1205 19.0402C30.1205 19.0402 30.1323 19.0677 30.1402 19.0795C30.1245 19.0874 30.1088 19.0992 30.097 19.1071C30.1048 19.0835 30.1166 19.0638 30.1245 19.0402M31.0076 21.2636C31.4119 20.9999 31.8201 20.7481 32.24 20.5041C32.9387 20.0948 33.6727 19.7328 34.4341 19.3786C35.3447 19.8115 36.3338 20.087 37.3465 20.2207C38.8694 20.4293 40.4551 20.2837 41.9505 19.8351C43.4459 19.3747 44.8393 18.5876 45.9815 17.5487C47.1197 16.5098 48.0264 15.223 48.4896 13.7748C47.2336 14.6249 46.0875 15.3922 44.8903 16.0179C43.705 16.6515 42.4961 17.1552 41.2518 17.5369C40.0037 17.9029 38.7202 18.1823 37.374 18.3318C37.06 18.3712 36.746 18.4027 36.4241 18.4302C36.8637 18.2059 37.3033 17.958 37.7311 17.6628C38.6692 17.0293 39.5249 16.1793 40.0979 15.2033C40.6945 14.2274 41.036 13.1295 41.193 12.0473C41.4442 9.85929 41.0007 7.75 40.2431 5.83355C40.4943 7.87987 40.5689 9.95373 40.039 11.8151C39.5327 13.6765 38.3395 15.2073 36.7499 16.0651C35.1288 16.9152 33.0721 17.5015 31.1528 18.505C30.9566 18.6034 30.7642 18.7096 30.5719 18.8198C30.7564 17.7888 30.9487 16.8365 31.2038 15.9235C31.5178 14.7941 31.9064 13.7355 32.397 12.7202C32.8837 11.7049 33.4607 10.7368 34.1515 9.78845C34.8345 8.82826 35.6273 7.91922 36.5183 6.90786C35.1681 7.03379 33.8964 7.62408 32.817 8.46228C31.8201 9.23359 30.9997 10.2489 30.4031 11.3822C30.2658 10.9218 30.1009 10.4692 29.9047 10.0324C29.206 8.46622 28.1698 7.0574 26.8118 6.06966C27.373 7.64769 27.8323 9.12733 28.1188 10.6149C28.4171 12.0984 28.5505 13.5663 28.5074 15.0341C28.4799 16.502 28.264 17.9619 27.899 19.4258C27.7184 20.1499 27.4947 20.8701 27.2435 21.5981C26.8863 22.0467 26.5606 22.5032 26.2583 22.9675C25.9836 23.4004 25.7245 23.8372 25.4694 24.274C25.1122 23.5854 24.6844 22.9203 24.1781 22.3025C23.4363 20.8425 22.9299 19.3078 22.5374 17.7612C22.3373 16.8994 22.1763 16.0337 22.0664 15.164C22.0468 14.9082 22.0193 14.6485 21.9801 14.3848C21.8702 13.2357 21.8466 12.0866 21.9251 10.9572C22.0821 8.71807 22.6552 6.54189 23.8405 4.67659C25.0298 2.80735 26.8903 1.37099 29.1 0.257324C26.6508 0.387187 24.0996 1.50086 22.3569 3.53537C20.7633 5.3259 19.9038 7.65556 19.6172 9.97734C18.844 9.30048 17.9334 8.7889 16.9836 8.49376C15.4136 8.02153 13.7494 8.05302 12.3207 8.65904C13.8043 9.04863 15.1192 9.54447 16.2417 10.2213C17.3486 10.8982 18.267 11.7718 18.9147 12.791C19.2483 13.3065 19.4995 13.8811 19.7114 14.5068C19.8802 15.5811 20.151 16.6358 20.5161 17.651C20.6848 18.3594 20.8811 19.0835 21.1401 19.7918C21.0185 19.7249 20.9007 19.6541 20.7712 19.595C19.6486 19.0599 18.3809 18.7765 17.1092 18.7529C16.3634 18.745 15.6412 18.8355 14.9465 18.9575C14.342 18.6467 13.7729 18.3082 13.2509 17.9344C12.1558 17.1631 11.2648 16.2344 10.5701 15.16C9.14141 13.0429 8.72536 10.3591 8.81171 7.27384C7.82654 8.50163 7.32806 10.0797 7.24564 11.7088C7.18676 13.338 7.61851 15.0656 8.56051 16.4705C9.43579 17.8439 10.7507 18.93 12.2186 19.54C11.6102 19.6659 11.0215 19.7682 10.4327 19.8115C9.43187 19.8902 8.41921 19.8312 7.40656 19.6344C5.36949 19.2448 3.40699 18.2492 1.46411 17.0214C2.70441 18.9575 4.58056 20.5749 6.88454 21.4407C8.03064 21.8657 9.27879 22.086 10.523 22.0821C11.7751 22.086 12.9722 21.8303 14.0712 21.5863C15.1702 21.3265 16.1711 21.0983 17.1563 21.0314C18.1336 20.9763 19.1227 21.0826 20.0961 21.358C21.9605 21.8735 23.6953 23.0462 25.387 24.4118C24.6138 25.7734 23.9387 27.1664 23.3342 28.5949C22.5492 30.5468 21.8702 32.5341 21.3717 34.5725C20.8575 36.6071 20.5553 38.6927 20.3944 40.7745C20.3002 42.868 20.3865 44.9694 20.8065 47C20.9125 44.9301 21.1441 42.9113 21.5523 40.9279C21.9801 38.9485 22.5139 37.0045 23.1576 35.0959C24.4882 31.3102 26.1092 27.5718 28.2562 24.278C28.7743 23.4516 29.363 22.6685 29.9557 22.0585C30.1127 21.9286 30.2226 21.7948 30.4149 21.6571L31.0076 21.2439V21.2636Z" fill="#111111"/>
        <path d="M17.2663 28.7087C16.5519 28.3624 15.9436 27.9689 15.3705 27.54C14.7935 27.1071 14.2715 26.6073 13.7495 26.021C13.2275 25.4268 12.7329 24.7499 12.152 23.9156C11.3591 25.8124 12.2148 28.1617 13.9143 29.4486C14.0399 29.543 14.1773 29.6217 14.3107 29.7083C13.9379 29.8263 13.5729 29.9719 13.2157 30.1333C12.623 30.2986 12.0343 30.4481 11.4494 30.5465C9.77345 30.8338 8.14457 30.7944 6.77475 30.2002C5.38137 29.6256 4.3177 28.4766 3.47382 26.993C3.06562 26.261 2.7006 25.474 2.4494 24.6397C2.17072 23.8054 2.03335 22.9397 2.0569 21.9795C1.51917 22.7823 1.31115 23.8054 1.2876 24.7932C1.2876 25.7849 1.43282 26.7883 1.75075 27.7485C2.0726 28.7048 2.55145 29.6296 3.23047 30.4639C3.92912 31.3099 4.81225 31.9632 5.82097 32.4079C7.03772 32.9391 8.33297 33.069 9.56935 32.9391C9.17685 33.4153 8.81967 33.915 8.5253 34.4502C7.8345 35.7292 7.38312 37.1774 7.53227 38.6255C8.34475 37.4528 9.17292 36.4651 10.0482 35.5521C10.9195 34.6431 11.8458 33.8363 12.8389 33.1201C13.824 32.396 14.872 31.7743 16.0064 31.2234C16.5048 30.9833 17.019 30.759 17.5528 30.5426C18.326 30.4835 19.0718 30.2474 19.7037 29.7752C18.7617 29.3974 17.9806 29.0747 17.2663 28.7127" fill="#111111"/>
        <path d="M3.17532 32.7783C2.77105 32.4438 2.31967 32.1722 1.8055 31.9716C1.28347 31.7787 0.718275 31.6449 0 31.6921C0.082425 32.4084 0.321847 32.9436 0.604448 33.4197C0.894898 33.8919 1.24422 34.2894 1.64457 34.6239C2.04492 34.9623 2.50022 35.2339 3.0144 35.4306C3.53642 35.6234 4.10162 35.7612 4.82382 35.71C4.7414 34.9899 4.5059 34.4547 4.21938 33.9785C3.92893 33.5063 3.5796 33.1088 3.17925 32.7743" fill="#111111"/>
        <path d="M3.48958 14.1796C3.71331 14.6912 4.01161 15.1634 4.39626 15.6041C4.78876 16.037 5.24798 16.4423 5.93093 16.7493C6.16251 16.037 6.17429 15.4231 6.12326 14.8407C6.06046 14.2583 5.91131 13.7192 5.68366 13.2115C5.45993 12.7039 5.16163 12.2277 4.77698 11.7909C4.38448 11.358 3.92526 10.9527 3.24623 10.6458C3.01466 11.3541 3.00288 11.968 3.05783 12.5543C3.12063 13.1328 3.26978 13.6759 3.49351 14.1835" fill="#111111"/>
        <path d="M46.0633 12.3185C46.4284 11.8266 46.7031 11.3032 46.8994 10.7483C47.0956 10.1974 47.2173 9.61499 47.2526 9.00503C47.2762 8.39113 47.233 7.74969 46.9661 7.02954C46.3028 7.41519 45.8592 7.87562 45.4864 8.36752C45.1213 8.85942 44.8466 9.38281 44.6464 9.93768C44.4462 10.4886 44.3246 11.0671 44.2892 11.681C44.2657 12.2949 44.3089 12.9363 44.5797 13.6565C45.2469 13.2748 45.6905 12.8104 46.0633 12.3185Z" fill="#111111"/>
        <path d="M14.3143 15.2112C14.6911 15.53 15.1189 15.7858 15.6095 15.9707C16.1041 16.1478 16.6497 16.2659 17.3483 16.2029C17.2934 15.5024 17.0814 14.983 16.8224 14.5265C16.5594 14.0739 16.2336 13.6922 15.8529 13.3774C15.4761 13.0586 15.0443 12.8029 14.5537 12.6218C14.0552 12.4447 13.5136 12.3267 12.8149 12.3857C12.8738 13.0823 13.0858 13.6017 13.3448 14.0621C13.6078 14.5147 13.9336 14.8964 14.3104 15.2151" fill="#111111"/>
        <path d="M34.6736 11.9768C34.3792 12.3467 34.1476 12.7678 33.9906 13.2479C33.8415 13.7358 33.7512 14.2671 33.8454 14.9479C34.5283 14.8888 35.0268 14.6763 35.4664 14.4206C35.8982 14.1608 36.2553 13.8381 36.5497 13.4643C36.8441 13.0944 37.0717 12.6694 37.2287 12.1893C37.3779 11.7013 37.4721 11.1701 37.374 10.4893C36.691 10.5522 36.1965 10.7608 35.7569 11.0166C35.3251 11.2802 34.9679 11.599 34.6736 11.9689" fill="#111111"/>
        <path d="M20.0605 25.3328C19.7504 24.8606 19.3775 24.4592 18.9575 24.1207C18.5376 23.7863 18.0626 23.5108 17.5328 23.314C16.995 23.1212 16.4141 22.9874 15.6841 23.0386C15.794 23.7626 16.057 24.3018 16.3592 24.7858C16.6693 25.262 17.0421 25.6634 17.4582 26.0018C17.8782 26.3402 18.3492 26.6118 18.879 26.8124C19.4168 27.0053 19.9977 27.1391 20.7277 27.0879C20.6178 26.3599 20.3588 25.8208 20.0526 25.3367" fill="#111111"/>
        <path d="M8.69776 28.4105C9.18839 28.7332 9.73789 29.0087 10.4719 29.1346C10.5111 28.3869 10.3659 27.7887 10.1657 27.2378C9.95769 26.6908 9.67116 26.2028 9.32576 25.766C8.98036 25.3292 8.56824 24.9396 8.08546 24.613C7.59484 24.2903 7.04534 24.0148 6.30744 23.8889C6.26426 24.6366 6.40949 25.2348 6.60966 25.7896C6.82161 26.3366 7.10421 26.8246 7.44961 27.2614C7.79894 27.6982 8.20714 28.0839 8.69384 28.4105" fill="#111111"/>
        <path d="M50.15 24.6283C50.3462 23.6366 50.3619 22.6252 50.2324 21.6375C50.0832 20.6616 49.7457 19.6738 49.1098 18.9458C49.259 19.8942 49.2315 20.7678 49.0588 21.6336C48.9175 22.4914 48.6545 23.3218 48.3445 24.101C47.6968 25.679 46.7862 26.9579 45.4792 27.7056C44.1997 28.473 42.5865 28.7209 40.887 28.6501C40.2943 28.6265 39.6898 28.5556 39.0815 28.4651C38.6576 28.3353 38.2297 28.2329 37.798 28.1582C37.9314 28.0716 38.0688 27.9811 38.2023 27.8788C38.4103 27.7135 38.6654 27.4734 38.842 27.2491C39.003 27.0327 39.16 26.8202 39.2856 26.5801C39.5446 26.1158 39.7252 25.6081 39.8233 25.0966C40.0078 24.0734 39.8704 23.0266 39.3444 22.1609C38.8931 23.0621 38.5123 23.8058 38.0767 24.4433C37.8647 24.7621 37.641 25.0493 37.4133 25.3209C37.2956 25.4547 37.1818 25.5845 37.0562 25.7105C36.9384 25.8167 36.8756 25.8836 36.7343 25.9859C36.2123 26.3794 35.4901 26.8163 34.7875 27.2846C34.0692 27.7568 33.3627 28.2959 32.6091 28.9373C33.0056 29.0751 33.402 29.1459 33.7906 29.1695C34.7286 29.3742 35.6078 29.6142 36.4596 29.8975C37.6528 30.2989 38.7753 30.783 39.8429 31.3733C40.9184 31.9596 41.9428 32.6404 42.9201 33.4274C43.9053 34.2224 44.8551 35.092 45.8089 36.1506C45.7697 34.6946 45.1377 33.3173 44.2899 32.1367C43.9288 31.6409 43.5089 31.1922 43.0614 30.7712C44.3056 30.7397 45.5695 30.4445 46.7117 29.7637C47.6576 29.1971 48.4504 28.4336 49.0353 27.5049C49.6044 26.592 49.9616 25.6121 50.1578 24.6204" fill="#111111"/>
        <path d="M50.6366 28.8275C50.1499 29.0912 49.7339 29.4217 49.3806 29.8034C49.0234 30.1852 48.7251 30.6259 48.5014 31.1296C48.2816 31.6412 48.1128 32.2 48.1246 32.9241C48.8468 32.8808 49.3924 32.6722 49.883 32.4164C50.3697 32.1528 50.7858 31.8222 51.139 31.4405C51.4923 31.0548 51.7906 30.6141 52.0143 30.1104C52.2341 29.5988 52.4029 29.04 52.395 28.3159C51.6767 28.3631 51.1312 28.5717 50.6405 28.8275" fill="#111111"/>
        <path d="M31.6823 24.5851C31.439 25.1046 31.2506 25.6712 31.2349 26.4071C31.9688 26.3678 32.5262 26.1592 33.0364 25.8995C33.5388 25.6319 33.9706 25.3013 34.3435 24.9117C34.7163 24.5221 35.0343 24.0775 35.2815 23.5659C35.521 23.0464 35.7133 22.4798 35.729 21.7478C34.9989 21.7911 34.4377 21.9997 33.9313 22.2594C33.4329 22.527 32.9972 22.8575 32.6204 23.2471C32.2436 23.6328 31.9296 24.0814 31.6823 24.589" fill="#111111"/>
        <path d="M42.382 23.6362C42.0955 24.1163 41.8757 24.6357 41.7383 25.2063C41.6088 25.7809 41.5381 26.3908 41.6755 27.1267C42.3899 26.9064 42.8962 26.5601 43.3436 26.1783C43.7832 25.7927 44.1404 25.3559 44.4309 24.8797C44.7213 24.4035 44.9411 23.8802 45.0785 23.3135C45.208 22.7389 45.2747 22.129 45.1374 21.3892C44.423 21.6095 43.9128 21.9519 43.4653 22.3336C43.0257 22.7193 42.6685 23.1561 42.382 23.6362Z" fill="#111111"/>
        <path d="M34.3633 33.2585C33.7942 32.9043 33.1858 32.6171 32.5264 32.4085C31.8591 32.2078 31.1565 32.0701 30.3284 32.137C30.6306 32.9161 31.0623 33.4907 31.5294 34.0023C32.0043 34.506 32.5264 34.9349 33.0916 35.293C33.6568 35.6511 34.2691 35.9384 34.9285 36.143C35.5918 36.3437 36.2983 36.4814 37.1304 36.4106C36.8282 35.6314 36.3964 35.0569 35.9293 34.5414C35.4583 34.0377 34.9324 33.6087 34.3672 33.2546" fill="#111111"/>
        <path d="M25.0144 9.39111C24.5866 10.1585 24.3982 10.9062 24.2804 11.646C24.1705 12.3858 24.1587 13.1138 24.2255 13.8379C24.2883 14.5581 24.4374 15.2743 24.6808 15.9826C24.932 16.687 25.2577 17.3875 25.819 18.0644C26.2508 17.297 26.4392 16.5493 26.5569 15.8095C26.6629 15.0697 26.6786 14.3416 26.6119 13.6176C26.5412 12.8935 26.396 12.1812 26.1526 11.4728C25.9014 10.7684 25.5757 10.068 25.0183 9.39111" fill="#111111"/>
      </svg>
      p.header__logo-name Residence
      p.header__logo-name--mobile Mountain 
        br
        | Residence
    .blocks-wrap
      a.header__call-btn.header__apartments
        p Обрати апартаменти
        +svg("link-arrow").svg--link-arrow
        .header__apartments-main-btn 
          .header__apartments-main-btn-svg
            <svg class="svg--link-mobile" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M13.12 10.88H9.75999M9.75999 10.88V8.64M9.75999 10.88V17.6H5.27999M9.75999 0.800003H0.799988V17.6H5.27999M9.75999 0.800003V4.16M9.75999 0.800003H23.2V10.88H20.4M17.6 10.88H20.4M20.4 10.88V23.2H5.27999V17.6" stroke="#111111" stroke-width="1.6" stroke-linecap="round"/>
            </svg>
          span Купити

      button.menu-btn 
        p Меню
        .menu-btn__burger
          span.line-over 
          span.line-under

.menu__container
  .menu__bg 
    img(src="./assets/images/menuBg.svg" alt="logo bg").menu__bg-svg
    .header__nav-container(data-lenis-prevent)
      include ./navigation.pug

