nav.navigation-container.container
  ul.main-nav__list 
    li.main-nav__item
      a(href="/").main-nav__link Головна
    li.main-nav__item
      a(href="#").main-nav__link Обрати апартаменти
    li.main-nav__item
      a(href="about-bukovel.html").main-nav__link Про Буковель
    li.main-nav__item
      a(href="purchase-terms.html").main-nav__link Умови придбання
    li.main-nav__item
      a(href="documents.html").main-nav__link Документи
    li.main-nav__item
      a(href="investors.html").main-nav__link Інвесторам
    li.main-nav__item
      a(href="about-developer.html").main-nav__link Про забудовника
    li.main-nav__item
      a(href="management-company.html").main-nav__link Керуюча компанія
    li.main-nav__item
      a(href="progress.html").main-nav__link Хід будівництва
    li.main-nav__item
      a(href="news.html").main-nav__link Новини та акції
    li.main-nav__item
      a(href="contacts").main-nav__link Контакти
  .sub-nav 
    .sub-nav__title-wrap
      h3.sub-nav__title Welness & SPA  
      +svg("open-arrow")

    ul.sub-nav__list 
      li.sub-nav__item
        a(href="spa-swimming-pool-wn.html").sub-nav__link Басейн "Вище неба"
      li.sub-nav__item
        a(href="spa-swimming-pool-laguna.html").sub-nav__link Басейн "Лагуна"
      li.sub-nav__item
        a(href="spa-banya-molfara.html").sub-nav__link Баня Мольфара
      li.sub-nav__item
        a(href="spa-panorama-ss.html").sub-nav__link Панорамна шоу сауна
      li.sub-nav__item
        a(href="spa-japon-banya-ofuro.html").sub-nav__link Японські бані "офуро"
      li.sub-nav__item
        a(href="spa-banya-magichni-kyli.html").sub-nav__link Баня магічні кулі
      li.sub-nav__item
        a(href="spa-medutaciyna-banya.html").sub-nav__link Медитаційна баня
      li.sub-nav__item
        a(href="spa-turkish-hamam.html").sub-nav__link Турецький хамам
      li.sub-nav__item
        a(href="spa-rum-banya.html").sub-nav__link Римська баня
      li.sub-nav__item
        a(href="spa-procedurni-kimnatu.html").sub-nav__link Процедурні кімнати
      li.sub-nav__item
        a(href="spa-fito-kimnata.html").sub-nav__link Фіто кімната
      li.sub-nav__item
        a(href="spa-kimnata-relax.html").sub-nav__link Кімнати релаксу
      li.sub-nav__item
        a(href="spa-masajni-kimnatu.html").sub-nav__link Масажні кімнати
      li.sub-nav__item
        a(href="spa-vudovui-zal.html").sub-nav__link Видовий спортзал
  .third-block-nav 
    .sub-nav 
      .sub-nav__title-wrap   
        h3.sub-nav__title Rooftop garden & Solarium 
        +svg("open-arrow")
      ul.sub-nav__list 
        li.sub-nav__item
          a(href="roof-swimming-pool-wn.html").sub-nav__link Басейн "Вище неба"
        li.sub-nav__item
          a(href="roof-vip.html").sub-nav__link Vip бунгало zone
        li.sub-nav__item
          a(href="roof-solar.html").sub-nav__link Соляріум
        li.sub-nav__item
          a(href="roof-bar.html").sub-nav__link Бар на терасі     

    .sub-nav 
      .sub-nav__title-wrap
        h3.sub-nav__title Ski & Fun 
        +svg("open-arrow")

      ul.sub-nav__list 
        li.sub-nav__item
          a(href="ski-in.html").sub-nav__link Direct ski in/ski out
        li.sub-nav__item
          a(href="ski-terasa.html").sub-nav__link Апре-скі тераса
        li.sub-nav__item
          a(href="ski-trevelator.html").sub-nav__link Тревелатор
        li.sub-nav__item
          a(href="ski-girka.html").sub-nav__link Навчальна гірка 
        li.sub-nav__item
          a(href="ski-infrastructure.html").sub-nav__link Лижна інфраструктура   
    .sub-nav 
      .sub-nav__title-wrap
        h3.sub-nav__title Food & Drinks
        +svg("open-arrow")

      ul.sub-nav__list 
        li.sub-nav__item
          a(href="food-panorama.html").sub-nav__link Панорамний ресторан
        li.sub-nav__item
          a(href="food-aziya.html").sub-nav__link Азійський ресторан
        li.sub-nav__item
          a(href="food-bar.html").sub-nav__link Лобі бар
        li.sub-nav__item
          a(href="food-all-in.html").sub-nav__link Шведська лінія сніданків all inclusive 
  .forth-block-nav 
    .sub-nav 
      .sub-nav__title-wrap
        h3.sub-nav__title Business & Meetings    
        +svg("open-arrow") 
      ul.sub-nav__list 
        li.sub-nav__item
          a(href="business-conferens.html").sub-nav__link Конференц-зали
        li.sub-nav__item
          a(href="business-banket.html").sub-nav__link Банкетні зали
        li.sub-nav__item
          a(href="business-coworking.html").sub-nav__link Коворкінг лаунж  
    .sub-nav 
      .sub-nav__title-wrap
        h3.sub-nav__title Hotel info & Services    
        +svg("open-arrow")

      ul.sub-nav__list 
        li.sub-nav__item
          a(href="services-salon.html").sub-nav__link Салон краси
        li.sub-nav__item
          a(href="services-torgivelna-zona.html").sub-nav__link Торгівельна зона
        li.sub-nav__item
          a(href="services-dutyacha-kimnata.html").sub-nav__link Дитяча кімната 
        li.sub-nav__item
          a(href="services-reception.html").sub-nav__link Цілодобова рецепція 
        li.sub-nav__item
          a(href="services-concierge.html").sub-nav__link Консьєрж сервіс 
        li.sub-nav__item
          a(href="services-bike-parking.html").sub-nav__link Велопарковка під охороною
        li.sub-nav__item
          a(href="services-car-parking.html").sub-nav__link Критий паркінг
        li.sub-nav__item
          a(href="services-transfer.html").sub-nav__link Трансфери та таксі                