.navigation-container {
  width: 100vw;
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
  }
  @include laptop {
    flex-direction: row;
    justify-content: space-between;
  }
  @include desktop {
    // gap: 134px;
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  @include tablet {
    width: calc(50% - 14px);
  }
  @include laptop {
    width: auto;
  }
  @include desktop {
    gap: 20px;
  }
}

.main-nav__link {
  @include text-style-p;
  color: $color-gray-2;
}
.sub-nav__title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: all;
  svg {
    width: 20px;
    height: 20px;
    @include tablet {
      display: none;
    }
  }
}
.sub-nav__title {
  @include text-style-p;
  color: $color-white;
  @include tablet {
    color: $color-gray-3;
  }
}

.sub-nav__list {
  margin-top: 14px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  @include tablet {
    margin-top: 16px;
  }

  @include desktop {
    margin-top: 20px;
    gap: 10px;
  }
}

.sub-nav__link {
  @include text-style-news-descr;
  color: $color-gray-2;
}

.third-block-nav {
  display: flex;
  flex-direction: column;
  gap: 28px;

  @include tablet {
    width: calc(50% - 14px);
  }
  @include laptop {
    width: auto;
  }
  @include desktop {
    gap: 60px;
    max-width: 320px;
  }
}

.forth-block-nav {
  @extend .third-block-nav;
}
