
extends ../layout/main
block variable
  -
    var title_page = 'about-developer'
    var id_page = 'id-page-about-developer'
    var class_page = 'class-page-about-developer'
    var headerCustomClass = 'type2' 
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]
    var projects = [
      {
        adress: "Буковель, урочище Щивки, 384", name: "Апарт-готель Beskyd Suites", ref: "", src: "aboutDeveloper/project1.jpg"
      },
        {
          adress: "ТК Буковель, с. Поляниця, узбережжя великого озера Молодості", name: "Voda Club", ref: "", src: "aboutDeveloper/project2.jpg"
      },
        {
          adress: "Івано-Франківська обл. с.Поляниця, урочище Щивки 3/1", name: "Buka Apart Hotel & Spa", ref: "", src: "aboutDeveloper/project3.jpg"
      },
        {
          adress: "Івано-Франківська область,с. Поляниця, урочище Вишні, 421", name: "Mountain Residence Шале", ref: "", src: "aboutDeveloper/project4.jpg"
      },
    ]

block meta
  title= title_page
  meta(name='description' content='')
block head
  link(rel='stylesheet' href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/header.bundle.js')
  script(defer src='./assets/scripts/aboutDeveloper.bundle.js')
block content
  .background
    canvas.background__canvas
  <div class="scroll is-visible"></div>
  section.about-bukovel.about-developer
    .container
      h1.page-title Про забудовника 
      .about-developer__text-block-wrapper
        .about-developer__label-wrap
          img(src="./assets/images/aboutDeveloper/mbtGroup.png" alt="developer logo")
          .vertical-line-decor  
          p.about-developer__label ОФІЦІЙНИЙ ПАРТНЕР 
            br 
            | ТК «БУКОВЕЛЬ»
        .about-developer__text-wrap
          p.about-developer__text Забудовник – «Modern Building Technologies GROUP» є офіційним партнером ТК «Буковель» та гарантує комплексний супровід від етапу укладання договорів до введення об’єктів в експлуатацію. 
            span Компанія працює на курорті вже 17 років і спеціалізується на будівництві нерухомості комфорт-класу. 
            | «MBT GROUP» дотримується високих стандартів будівництва та враховує особливості гірської місцевості при виконанні робіт. 
            span Забудовник використовує лише матеріали найвищої якості 
            | для того, щоб будинки були стійкими, екологічними та енергоефективними.
          p.about-developer__text 
            span Успішно реалізованими проектами стали готелі: 
            | Mountain Residence Сhalet, Mountain Residence Apartments, BUKA Apart-Hotel та Beskid, СПА центр VODA CLUB та ресторани OSTERIA ITALIANA, REBRA BBQ, Whisky Bar, Lucky Bull, Veranda Bar&Lounge, Living Room, SALO, Kolyba, Filvarok, Plov, Panorama Lounge, Bugil Cafe та інші.
  section.about-developer__bg-photo
    +svg('tree-page').page__tree-logo
    +svg('card-logo').bg-photo__card-logo 
    .bg-parallax-wrap
      img(src="./assets/images/sectionsBg/bg-about1.jpg" alt="фото" img-paralax)
  section.ad-advantages
    .container
      .about-developer__text-block-wrapper
        .about-developer__label-wrap
          img(src="./assets/images/aboutDeveloper/mountres.png" alt="developer logo")
          .vertical-line-decor  
          .about-developer__label MOUNTAIN RESIDENCE
            br 
            | WELLNESS & SPA
        .about-developer__text-wrap
          .ad-advantades__wrap
            h3.ad-advantades__title Апарт-готель в центрі Буковелю!
            p.ad-advantades__descr Однією із основних переваг Mountain Residence Apartments є те, що об’єкти здають “під ключ”. Апартаменти обладнані усім необхідним для комфортного проживання:
            ol.ad-advantades__list 
              li.ad-advantades__item Дизайнерський ремонт
              li.ad-advantades__item Зручні меблі
              li.ad-advantades__item Сучасна технікаasd
              li.ad-advantades__item Інтернет та телебачення
              li.ad-advantades__item Підведена та розведена електрика
              li.ad-advantades__item Тепла підлога в санвузлах
              li.ad-advantades__item Автономне опалення
              li.ad-advantades__item Підведена та розведена система водопостачання
              li.ad-advantades__item Підведена та розведена каналізація
              li.ad-advantades__item Пожежна та охоронна сигналізація
    .ad-advantages__photos 
      .ad-advantages__photo-wrap
        img(src="./assets/images/aboutDeveloper/residence1.jpg" alt="residence 1").first-photo
      .ad-advantages__photo-wrap
        img(src="./assets/images/aboutDeveloper/residence2.jpg" alt="residence 2").socond-photo
  section.projects.container 
    .projects__title 
      span Реалізовані
      h2 проекти
    ul.projects__list 
      each project in projects 
        li  
          .transtion-page__content-wrap 
            .transtion-page__text-wrap
              .transition-page__label=project.adress
              .transition-page__title-wrap 
                h2.transition-page__title=project.name
            a.transtion-page__link(href=project.ref)
              h3.next-page__title Дивитися проєкт
              .link__arrow-decor--left
                <svg xmlns="http://www.w3.org/2000/svg" width="65" height="202" viewBox="0 0 65 202" fill="none">
                  <mask id="mask0_926_38657" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="-1" y="0" width="67" height="202">
                    <rect x="65.0076" width="201.473" height="65.0144" transform="rotate(90 65.0076 0)" fill="url(#paint0_linear_926_38657)"/>
                  </mask>
                  <g mask="url(#mask0_926_38657)">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M43.5794 134.418C35.1402 141.661 30.2843 152.227 30.2843 163.349L30.2843 201.005C30.2843 201.263 30.0744 201.473 29.8155 201.473C29.5566 201.473 29.3467 201.263 29.3467 201.005L29.3467 162.797C29.3467 151.515 24.4206 140.796 15.8594 133.448L14.7512 132.497C-4.70962 115.795 -4.70962 85.678 14.7512 68.9759L15.8595 68.0247C24.4206 60.6771 29.3467 49.9577 29.3467 38.6758L29.3467 0.468779C29.3467 0.20988 29.5566 -2.44058e-06 29.8155 -2.41983e-06C30.0744 -2.39908e-06 30.2843 0.209877 30.2843 0.468777L30.2843 38.1245C30.2843 49.2455 35.1402 59.8122 43.5793 67.055L45.1451 68.3988C64.9595 85.4044 64.9594 116.069 45.1451 133.074L43.5794 134.418Z" fill="white"/>
                  </g>
                    <path d="M14.9966 101.078L37.8588 101.078M37.8588 101.078L37.8588 99.7115L29.2855 92.8777M37.8588 101.078L37.8588 102.445L29.2855 108.595" stroke="#111111" stroke-width="2"/>
                  <defs>
                    <linearGradient id="paint0_linear_926_38657" x1="266.481" y1="65.0145" x2="65.0076" y2="65.0145" gradientUnits="userSpaceOnUse">
                      <stop stop-opacity="0"/>
                      <stop offset="0.165322"/>
                      <stop offset="0.491207"/>
                      <stop offset="0.815634"/>
                      <stop offset="1" stop-opacity="0"/>
                    </linearGradient>
                  </defs>
                </svg>
              .link__arrow-decor--right
                <svg xmlns="http://www.w3.org/2000/svg" width="65" height="202" viewBox="0 0 65 202" fill="none">
                  <mask id="mask0_926_38657" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="-1" y="0" width="67" height="202">
                    <rect x="65.0076" width="201.473" height="65.0144" transform="rotate(90 65.0076 0)" fill="url(#paint0_linear_926_38657)"/>
                  </mask>
                  <g mask="url(#mask0_926_38657)">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M43.5794 134.418C35.1402 141.661 30.2843 152.227 30.2843 163.349L30.2843 201.005C30.2843 201.263 30.0744 201.473 29.8155 201.473C29.5566 201.473 29.3467 201.263 29.3467 201.005L29.3467 162.797C29.3467 151.515 24.4206 140.796 15.8594 133.448L14.7512 132.497C-4.70962 115.795 -4.70962 85.678 14.7512 68.9759L15.8595 68.0247C24.4206 60.6771 29.3467 49.9577 29.3467 38.6758L29.3467 0.468779C29.3467 0.20988 29.5566 -2.44058e-06 29.8155 -2.41983e-06C30.0744 -2.39908e-06 30.2843 0.209877 30.2843 0.468777L30.2843 38.1245C30.2843 49.2455 35.1402 59.8122 43.5793 67.055L45.1451 68.3988C64.9595 85.4044 64.9594 116.069 45.1451 133.074L43.5794 134.418Z" fill="white"/>
                  </g>
                    <path d="M14.9966 101.078L37.8588 101.078M37.8588 101.078L37.8588 99.7115L29.2855 92.8777M37.8588 101.078L37.8588 102.445L29.2855 108.595" stroke="#111111" stroke-width="2"/>
                  <defs>
                    <linearGradient id="paint0_linear_926_38657" x1="266.481" y1="65.0145" x2="65.0076" y2="65.0145" gradientUnits="userSpaceOnUse">
                      <stop stop-opacity="0"/>
                      <stop offset="0.165322"/>
                      <stop offset="0.491207"/>
                      <stop offset="0.815634"/>
                      <stop offset="1" stop-opacity="0"/>
                    </linearGradient>
                  </defs>
                </svg>
              .transtion-page__img-wrap
                .mask  
                +img(project.src)




block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
