
extends ../layout/main
block variable
  -
    var title_page = 'about-developer'
    var id_page = 'id-page-about-developer'
    var class_page = 'class-page-about-developer'
    var headerCustomClass = 'type2' 
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]
    var projects = [
      {
        adress: "Буковель, урочище Щивки, 384", name: "Апарт-готель Beskyd Suites", ref: "", src: "aboutDeveloper/project1.jpg"
      },
        {
          adress: "ТК Буковель, с. Поляниця, узбережжя великого озера Молодості", name: "Voda Club", ref: "", src: "aboutDeveloper/project2.jpg"
      },
        {
          adress: "Івано-Франківська обл. с.Поляниця, урочище Щивки 3/1", name: "Buka Apart Hotel & Spa", ref: "", src: "aboutDeveloper/project3.jpg"
      },
        {
          adress: "Івано-Франківська область,с. Поляниця, урочище Вишні, 421", name: "Mountain Residence Шале", ref: "", src: "aboutDeveloper/project4.jpg"
      },
    ]

block meta
  title= title_page
  meta(name='description' content='')
block head
  link(rel='stylesheet' href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/header.bundle.js')
  script(defer src='./assets/scripts/aboutDeveloper.bundle.js')
block content
  .background
    canvas.background__canvas
  <div class="scroll is-visible"></div>
  section.about-bukovel.about-developer
    .container
      h1.page-title Про забудовника 
      .about-developer__text-block-wrapper
        .about-developer__label-wrap
          img(src="./assets/images/aboutDeveloper/mbtGroup.png" alt="developer logo")
          .vertical-line-decor  
          p.about-developer__label ОФІЦІЙНИЙ ПАРТНЕР 
            br 
            | ТК «БУКОВЕЛЬ»
        .about-developer__text-wrap
          p.about-developer__text Забудовник – «Modern Building Technologies GROUP» є офіційним партнером ТК «Буковель» та гарантує комплексний супровід від етапу укладання договорів до введення об’єктів в експлуатацію. 
            span Компанія працює на курорті вже 17 років і спеціалізується на будівництві нерухомості комфорт-класу. 
            | «MBT GROUP» дотримується високих стандартів будівництва та враховує особливості гірської місцевості при виконанні робіт. 
            span Забудовник використовує лише матеріали найвищої якості 
            | для того, щоб будинки були стійкими, екологічними та енергоефективними.
          p.about-developer__text 
            span Успішно реалізованими проектами стали готелі: 
            | Mountain Residence Сhalet, Mountain Residence Apartments, BUKA Apart-Hotel та Beskid, СПА центр VODA CLUB та ресторани OSTERIA ITALIANA, REBRA BBQ, Whisky Bar, Lucky Bull, Veranda Bar&Lounge, Living Room, SALO, Kolyba, Filvarok, Plov, Panorama Lounge, Bugil Cafe та інші.
  section.about-developer__bg-photo
    +svg('tree-page').page__tree-logo
    +svg('card-logo').bg-photo__card-logo 
    .bg-parallax-wrap
      img(src="./assets/images/sectionsBg/bg-about1.jpg" alt="фото" img-paralax)
  section.ad-advantages
    .container
      .about-developer__text-block-wrapper
        .about-developer__label-wrap
          img(src="./assets/images/aboutDeveloper/mountres.png" alt="developer logo")
          .vertical-line-decor  
          .about-developer__label MOUNTAIN RESIDENCE
            br 
            | WELLNESS & SPA
        .about-developer__text-wrap
          .ad-advantades__wrap
            h3.ad-advantades__title Апарт-готель в центрі Буковелю!
            p.ad-advantades__descr Однією із основних переваг Mountain Residence Apartments є те, що об’єкти здають “під ключ”. Апартаменти обладнані усім необхідним для комфортного проживання:
            ol.ad-advantades__list 
              li.ad-advantades__item Дизайнерський ремонт
              li.ad-advantades__item Зручні меблі
              li.ad-advantades__item Сучасна технікаasd
              li.ad-advantades__item Інтернет та телебачення
              li.ad-advantades__item Підведена та розведена електрика
              li.ad-advantades__item Тепла підлога в санвузлах
              li.ad-advantades__item Автономне опалення
              li.ad-advantades__item Підведена та розведена система водопостачання
              li.ad-advantades__item Підведена та розведена каналізація
              li.ad-advantades__item Пожежна та охоронна сигналізація
    .ad-advantages__photos 
      .ad-advantages__photo-wrap
        img(src="./assets/images/aboutDeveloper/residence1.jpg" alt="residence 1").first-photo
      .ad-advantages__photo-wrap
        img(src="./assets/images/aboutDeveloper/residence2.jpg" alt="residence 2").socond-photo
  section.projects.container 
    .projects__title
      .projects__bottom-tree-wrap 
        <svg class="projects__bottom-tree" width="1231" height="559" viewBox="0 0 1231 559" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_453_4695)">
            <path d="M711.695 -93.4175C711.695 -93.4175 711.969 -92.7754 712.152 -92.5003C711.787 -92.3168 711.421 -92.0417 711.146 -91.8583C711.329 -92.4086 711.604 -92.8672 711.787 -93.4175M732.369 -41.5972C741.792 -47.7423 751.305 -53.6122 761.094 -59.2987C777.377 -68.8373 794.483 -77.2752 812.23 -85.5298C833.453 -75.4409 856.506 -69.0207 880.107 -65.9023C915.601 -61.0413 952.559 -64.4348 987.412 -74.8906C1022.27 -85.6215 1054.74 -103.965 1081.36 -128.178C1107.89 -152.392 1129.02 -182.383 1139.82 -216.135C1110.54 -196.324 1083.83 -178.439 1055.93 -163.856C1028.3 -149.09 1000.13 -137.35 971.129 -128.453C942.039 -119.924 912.125 -113.412 880.748 -109.927C873.43 -109.009 866.111 -108.276 858.61 -107.634C868.856 -112.862 879.101 -118.64 889.072 -125.518C910.936 -140.285 930.878 -160.096 944.234 -182.842C958.139 -205.588 966.098 -231.177 969.757 -256.399C975.611 -307.394 965.274 -356.554 947.619 -401.22C953.473 -353.527 955.212 -305.192 942.862 -261.81C931.061 -218.428 903.252 -182.75 866.203 -162.756C828.422 -142.945 780.487 -129.279 735.754 -105.891C731.18 -103.598 726.698 -101.122 722.215 -98.5536C726.515 -122.584 730.997 -144.779 736.943 -166.057C744.262 -192.38 753.318 -217.052 764.753 -240.715C776.096 -264.378 789.543 -286.941 805.644 -309.045C821.561 -331.424 840.04 -352.61 860.805 -376.182C829.337 -373.247 799.698 -359.489 774.541 -339.953C751.305 -321.977 732.186 -298.314 718.282 -271.899C715.08 -282.63 711.238 -293.177 706.664 -303.358C690.381 -339.862 666.23 -372.696 634.578 -395.717C647.66 -358.939 658.363 -324.453 665.041 -289.784C671.993 -255.207 675.104 -220.996 674.097 -186.786C673.457 -152.575 668.426 -118.548 659.918 -84.4292C655.71 -67.5532 650.496 -50.769 644.641 -33.8013C636.317 -23.3455 628.724 -12.7063 621.68 -1.88372C615.276 8.20517 609.239 18.3858 603.293 28.5664C594.968 12.5159 584.997 -2.98432 573.196 -17.3839C555.907 -51.411 544.106 -87.1807 534.958 -123.226C530.293 -143.312 526.542 -163.489 523.981 -183.759C523.523 -189.721 522.883 -195.774 521.968 -201.919C519.407 -228.7 518.858 -255.482 520.687 -281.805C524.347 -333.992 537.702 -384.711 565.329 -428.185C593.047 -471.751 636.408 -505.228 687.911 -531.184C630.828 -528.157 571.367 -502.201 530.75 -454.783C493.61 -413.052 473.576 -358.755 466.898 -304.642C448.877 -320.417 427.653 -332.341 405.516 -339.22C368.924 -350.226 330.137 -349.492 296.839 -335.367C331.418 -326.287 362.063 -314.731 388.226 -298.956C414.023 -283.18 435.429 -262.819 450.523 -239.064C458.299 -227.049 464.154 -213.659 469.093 -199.076C473.027 -174.037 479.339 -149.457 487.846 -125.794C491.78 -109.285 496.354 -92.4086 502.392 -75.8995C499.556 -77.4587 496.811 -79.1096 493.793 -80.4853C467.63 -92.9589 438.082 -99.5625 408.443 -100.113C391.062 -100.296 374.23 -98.1868 358.038 -95.3435C343.95 -102.589 330.686 -110.477 318.519 -119.19C292.997 -137.167 272.231 -158.812 256.039 -183.851C222.741 -233.194 213.044 -295.746 215.057 -367.652C192.096 -339.036 180.478 -302.257 178.557 -264.287C177.185 -226.316 187.247 -186.052 209.202 -153.309C229.602 -121.299 260.247 -95.9855 294.46 -81.7694C280.281 -78.8344 266.559 -76.4498 252.838 -75.4409C229.511 -73.6065 205.909 -74.9823 182.307 -79.5682C134.83 -88.6482 89.0906 -111.853 43.8086 -140.468C72.7159 -95.3435 116.443 -57.6477 170.141 -37.47C196.853 -27.5645 225.943 -22.4284 254.942 -22.5201C284.123 -22.4284 312.024 -28.39 337.638 -34.0764C363.252 -40.1298 386.579 -45.4494 409.541 -47.0086C432.319 -48.2926 455.372 -45.8162 478.058 -39.396C521.511 -27.3811 561.944 -0.0493602 601.372 31.7765C583.35 63.5107 567.616 95.9785 553.528 129.272C535.233 174.764 519.407 221.081 507.789 268.59C495.805 316.008 488.761 364.618 485.011 413.137C482.815 461.93 484.828 510.907 494.616 558.233C497.086 509.99 502.483 462.939 511.997 416.714C521.968 370.58 534.409 325.271 549.412 280.789C580.423 192.557 618.204 105.425 668.243 28.6581C680.318 9.39751 694.04 -8.85421 707.853 -23.0704C711.512 -26.097 714.073 -29.2154 718.556 -32.4255L732.369 -42.0558V-41.5972Z" fill="white"/>
            <path d="M412.103 131.956C395.454 123.884 381.275 114.713 367.919 104.716C354.472 94.6267 342.305 82.9786 330.138 69.3127C317.972 55.4634 306.445 39.6881 292.907 20.244C274.428 64.4517 294.37 119.207 333.981 149.198C336.908 151.4 340.11 153.234 343.22 155.252C334.529 158.003 326.022 161.397 317.697 165.157C303.884 169.009 290.162 172.495 276.532 174.787C237.47 181.483 199.507 180.566 167.581 166.716C135.106 153.326 110.315 126.544 90.647 91.9669C81.1332 74.9075 72.6257 56.564 66.7711 37.1199C60.2761 17.6759 57.0743 -2.50186 57.6232 -24.8809C45.0906 -6.17055 40.2422 17.6759 39.6934 40.6969C39.6934 63.8097 43.0781 87.1976 50.4879 109.577C57.9891 131.864 69.1495 153.417 84.9753 172.861C101.259 192.581 121.841 207.806 145.351 218.17C173.71 230.552 203.898 233.578 232.714 230.552C223.566 241.649 215.241 253.297 208.38 265.771C192.28 295.579 181.76 329.331 185.236 363.083C204.172 335.751 223.474 312.73 243.874 291.452C264.182 270.265 285.771 251.463 308.915 234.771C331.877 217.895 356.301 203.403 382.739 190.563C394.357 184.968 406.34 179.74 418.781 174.696C436.803 173.32 454.184 167.817 468.912 156.811C446.957 148.006 428.753 140.485 412.103 132.047" fill="white"/>
            <path d="M477.233 53.2327C470.006 42.2267 461.316 32.8715 451.528 24.9838C441.74 17.1878 430.671 10.7676 418.321 6.18178C405.788 1.68764 392.249 -1.43075 375.234 -0.238428C377.796 16.6375 383.925 29.2028 390.969 40.484C398.196 51.5818 406.886 60.9369 416.583 68.8246C426.371 76.7123 437.348 83.0408 449.698 87.7184C462.231 92.2125 475.77 95.3309 492.785 94.1386C490.223 77.1709 484.186 64.6056 477.05 53.3244" fill="white"/>
            <path d="M212.404 124.981C223.839 132.502 236.646 138.922 253.752 141.857C254.667 124.43 251.283 110.489 246.617 97.649C241.769 84.9003 235.091 73.5274 227.041 63.3468C218.991 53.1662 209.385 44.0861 198.133 36.4736C186.699 28.9528 173.892 22.5326 156.694 19.5977C155.687 37.0239 159.072 50.9649 163.737 63.897C168.677 76.6457 175.264 88.0187 183.314 98.1993C191.455 108.38 200.969 117.368 212.313 124.981" fill="white"/>
            <path d="M1178.51 36.8146C1183.09 13.7019 1183.45 -9.86943 1180.43 -32.8904C1176.96 -55.6363 1169.09 -78.6573 1154.27 -95.625C1157.75 -73.5212 1157.11 -53.16 1153.08 -32.9822C1149.79 -12.9878 1143.66 6.3645 1136.43 24.5245C1121.34 61.3031 1100.12 91.1112 1069.65 108.537C1039.83 126.422 1002.23 132.2 962.624 130.55C948.811 129.999 934.723 128.348 920.544 126.239C910.664 123.212 900.693 120.828 890.63 119.085C893.741 117.067 896.942 114.958 900.053 112.573C904.901 108.721 910.847 103.126 914.964 97.8983C918.714 92.8538 922.373 87.9011 925.301 82.3063C931.338 71.4837 935.546 59.6522 937.833 47.729C942.133 23.8825 938.931 -0.514295 926.673 -20.6921C916.153 0.311159 907.279 17.6457 897.125 32.5039C892.185 39.933 886.971 46.6284 881.665 52.9568C878.921 56.0752 876.268 59.1019 873.341 62.0368C870.596 64.5132 869.133 66.0724 865.839 68.457C853.673 77.6287 836.841 87.8094 820.466 98.7237C803.725 109.73 787.259 122.295 769.695 137.245C778.935 140.455 788.174 142.106 797.23 142.656C819.094 147.426 839.585 153.02 859.436 159.624C887.246 168.979 913.408 180.26 938.291 194.018C963.356 207.684 987.232 223.551 1010.01 241.894C1032.97 260.421 1055.11 280.691 1077.34 305.363C1076.42 271.427 1061.7 239.326 1041.94 211.811C1033.52 200.255 1023.73 189.799 1013.3 179.985C1042.3 179.251 1071.76 172.373 1098.38 156.506C1120.42 143.298 1138.9 125.505 1152.53 103.86C1165.8 82.5815 1174.12 59.7439 1178.7 36.6312" fill="white"/>
            <path d="M1189.86 134.677C1178.51 140.822 1168.82 148.526 1160.58 157.423C1152.26 166.32 1145.31 176.592 1140.09 188.332C1134.97 200.255 1131.04 213.279 1131.31 230.155C1148.14 229.146 1160.86 224.285 1172.29 218.323C1183.64 212.178 1193.33 204.474 1201.57 195.577C1209.8 186.589 1216.75 176.317 1221.97 164.577C1227.09 152.654 1231.02 139.63 1230.84 122.754C1214.1 123.855 1201.38 128.715 1189.95 134.677" fill="white"/>
            <path d="M748.106 35.8019C742.435 47.9086 738.044 61.1159 737.678 78.267C754.784 77.3499 767.774 72.4888 779.666 66.4355C791.376 60.1987 801.438 52.4945 810.129 43.4145C818.819 34.3345 826.229 23.9704 831.992 12.0472C837.573 -0.0595076 842.055 -13.2668 842.421 -30.3262C825.406 -29.3173 812.324 -24.4563 800.524 -18.4029C788.906 -12.1662 778.752 -4.46191 769.97 4.61809C761.188 13.6064 753.869 24.0621 748.106 35.8937" fill="white"/>
            <path d="M997.476 13.7221C990.798 24.9116 985.675 37.0183 982.474 50.3173C979.455 63.708 977.808 77.9241 981.01 95.0752C997.659 89.9391 1009.46 81.868 1019.89 72.9714C1030.13 63.9831 1038.46 53.8025 1045.23 42.7047C1052 31.6069 1057.12 19.4085 1060.32 6.20127C1063.34 -7.18944 1064.9 -21.4056 1061.69 -38.6484C1045.05 -33.5123 1033.15 -25.5329 1022.72 -16.6363C1012.48 -7.64801 1004.15 2.53258 997.476 13.7221Z" fill="white"/>
          </g>
          <defs>
            <clipPath id="clip0_453_4695">
              <rect width="1231" height="559" fill="white"/>
            </clipPath>
          </defs>
        </svg>
      .projects__leaves-wrap
        <svg class="svg-title__leave1--project svg-title__leave--project" xmlns="http://www.w3.org/2000/svg" width="114" height="95" viewBox="0 0 114 95" fill="none">
          <path d="M74.6938 25.7822C65.2715 17.9862 54.7514 11.6578 42.7677 6.98018C30.601 2.48603 17.4281 -0.632413 0.6875 0.468193C2.60855 17.1607 8.1887 29.6343 14.7752 40.7321C21.5446 51.7382 29.6862 61.0016 39.0171 68.7975C48.3479 76.6852 58.9594 83.0137 70.9431 87.5995C83.1098 92.0937 96.2828 95.3038 113.115 94.1115C111.194 77.3273 105.705 64.8537 99.0272 53.7559C92.2578 42.7499 84.1161 33.4864 74.7853 25.6904" fill="white"/>
        </svg>
        <svg class="svg-title__leave2--project svg-title__leave--project" xmlns="http://www.w3.org/2000/svg" width="167" height="85" viewBox="0 0 167 85" fill="none">
          <path d="M115.664 2.81947C100.021 5.75442 85.3848 10.6154 71.5715 17.2191C57.7582 23.8227 44.7682 32.169 32.6016 42.533C20.6178 53.0805 9.36595 65.0955 0.583984 82.2466C19.4286 86.0987 35.8947 84.9981 51.5376 82.2466C67.089 79.3116 81.8171 74.4506 95.6304 67.7552C109.444 61.0599 122.434 52.7136 134.509 42.4413C146.493 31.8938 157.744 19.8788 166.618 2.72773C147.773 -1.12439 131.399 0.0679327 115.664 2.72773" fill="white"/>
        </svg>
        <svg class="svg-title__leave3--project svg-title__leave--project" xmlns="http://www.w3.org/2000/svg" width="160" height="101" viewBox="0 0 160 101" fill="none">
          <path d="M94.5833 26.9711C81.3189 18.7165 67.1396 12.0212 51.7711 7.16021C36.2197 2.48263 19.845 -0.727493 0.542969 0.831699C7.58683 18.9917 17.6496 32.3824 28.5356 44.3056C39.6045 56.0454 51.7712 66.0426 64.9441 74.3888C78.1171 82.7351 92.3877 89.4305 107.756 94.1998C123.216 98.8774 139.682 102.087 159.076 100.437C152.032 82.2766 141.969 68.8859 131.083 56.8709C120.106 45.1311 107.848 35.1339 94.6747 26.8793" fill="white"/>
        </svg>
      span Реалізовані
      h2 проекти
    ul.projects__list 
      each project in projects 
        li  
          .transtion-page__content-wrap 
            .transtion-page__text-wrap
              .transition-page__label=project.adress
              .transition-page__title-wrap 
                h2.transition-page__title=project.name
            a.transtion-page__link(href=project.ref)
              h3.next-page__title Дивитися проєкт
              .link__arrow-decor--left
                <svg xmlns="http://www.w3.org/2000/svg" width="65" height="202" viewBox="0 0 65 202" fill="none">
                  <mask id="mask0_926_38657" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="-1" y="0" width="67" height="202">
                    <rect x="65.0076" width="201.473" height="65.0144" transform="rotate(90 65.0076 0)" fill="url(#paint0_linear_926_38657)"/>
                  </mask>
                  <g mask="url(#mask0_926_38657)">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M43.5794 134.418C35.1402 141.661 30.2843 152.227 30.2843 163.349L30.2843 201.005C30.2843 201.263 30.0744 201.473 29.8155 201.473C29.5566 201.473 29.3467 201.263 29.3467 201.005L29.3467 162.797C29.3467 151.515 24.4206 140.796 15.8594 133.448L14.7512 132.497C-4.70962 115.795 -4.70962 85.678 14.7512 68.9759L15.8595 68.0247C24.4206 60.6771 29.3467 49.9577 29.3467 38.6758L29.3467 0.468779C29.3467 0.20988 29.5566 -2.44058e-06 29.8155 -2.41983e-06C30.0744 -2.39908e-06 30.2843 0.209877 30.2843 0.468777L30.2843 38.1245C30.2843 49.2455 35.1402 59.8122 43.5793 67.055L45.1451 68.3988C64.9595 85.4044 64.9594 116.069 45.1451 133.074L43.5794 134.418Z" fill="white"/>
                  </g>
                    <path d="M14.9966 101.078L37.8588 101.078M37.8588 101.078L37.8588 99.7115L29.2855 92.8777M37.8588 101.078L37.8588 102.445L29.2855 108.595" stroke="#111111" stroke-width="2"/>
                  <defs>
                    <linearGradient id="paint0_linear_926_38657" x1="266.481" y1="65.0145" x2="65.0076" y2="65.0145" gradientUnits="userSpaceOnUse">
                      <stop stop-opacity="0"/>
                      <stop offset="0.165322"/>
                      <stop offset="0.491207"/>
                      <stop offset="0.815634"/>
                      <stop offset="1" stop-opacity="0"/>
                    </linearGradient>
                  </defs>
                </svg>
              .link__arrow-decor--right
                <svg xmlns="http://www.w3.org/2000/svg" width="65" height="202" viewBox="0 0 65 202" fill="none">
                  <mask id="mask0_926_38657" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="-1" y="0" width="67" height="202">
                    <rect x="65.0076" width="201.473" height="65.0144" transform="rotate(90 65.0076 0)" fill="url(#paint0_linear_926_38657)"/>
                  </mask>
                  <g mask="url(#mask0_926_38657)">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M43.5794 134.418C35.1402 141.661 30.2843 152.227 30.2843 163.349L30.2843 201.005C30.2843 201.263 30.0744 201.473 29.8155 201.473C29.5566 201.473 29.3467 201.263 29.3467 201.005L29.3467 162.797C29.3467 151.515 24.4206 140.796 15.8594 133.448L14.7512 132.497C-4.70962 115.795 -4.70962 85.678 14.7512 68.9759L15.8595 68.0247C24.4206 60.6771 29.3467 49.9577 29.3467 38.6758L29.3467 0.468779C29.3467 0.20988 29.5566 -2.44058e-06 29.8155 -2.41983e-06C30.0744 -2.39908e-06 30.2843 0.209877 30.2843 0.468777L30.2843 38.1245C30.2843 49.2455 35.1402 59.8122 43.5793 67.055L45.1451 68.3988C64.9595 85.4044 64.9594 116.069 45.1451 133.074L43.5794 134.418Z" fill="white"/>
                  </g>
                    <path d="M14.9966 101.078L37.8588 101.078M37.8588 101.078L37.8588 99.7115L29.2855 92.8777M37.8588 101.078L37.8588 102.445L29.2855 108.595" stroke="#111111" stroke-width="2"/>
                  <defs>
                    <linearGradient id="paint0_linear_926_38657" x1="266.481" y1="65.0145" x2="65.0076" y2="65.0145" gradientUnits="userSpaceOnUse">
                      <stop stop-opacity="0"/>
                      <stop offset="0.165322"/>
                      <stop offset="0.491207"/>
                      <stop offset="0.815634"/>
                      <stop offset="1" stop-opacity="0"/>
                    </linearGradient>
                  </defs>
                </svg>
              .transtion-page__img-wrap
                .mask  
                +img(project.src)




block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
