
extends ../layout/main
block variable
  -
    var title_page = 'progress'
    var id_page = 'id-page-progress'
    var class_page = 'class-page-progress'
    var headerCustomClass = 'type2' 
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]

block meta
  title= title_page
  meta(name='description' content='')
block head
  link(rel='stylesheet' href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/header.bundle.js')
  script(defer src='./assets/scripts/progress.bundle.js')
block content
  .background
    canvas.background__canvas
  <div class="scroll is-visible"></div>
  section.about-bukovel.progress
    .container
      h1.page-title Хід будівництва 
      .progress__filter-wrap 
        button(type="button").fiter__all.filter__button.active Усі
        .fiter__year.filter__button(data-progress-filter-select)
          p.filter__title Рік
          +svg("arrow-filter")
          .filter__popup.hidden
            button(data-progress-year-button).filter__value 2023
            button(data-progress-year-button).filter__value 2022
            button(data-progress-year-button).filter__value 2021
            button(data-progress-year-button).filter__value 2020
        .fiter__month.filter__button.disabled(data-progress-filter-select)
          .filter__popup.hidden()
            button(data-progress-month-button="01").filter__value Січень
            button(data-progress-month-button="02").filter__value Лютий
            button(data-progress-month-button="03").filter__value Березень
            button(data-progress-month-button="04").filter__value Квітень
            button(data-progress-month-button="05").filter__value Травень
            button(data-progress-month-button="06").filter__value Червень
            button(data-progress-month-button="07").filter__value Липень
            button(data-progress-month-button="08").filter__value Серпень
            button(data-progress-month-button="09").filter__value Вересень
            button(data-progress-month-button="10").filter__value Жовтень
            button(data-progress-month-button="11").filter__value Листопад
            button(data-progress-month-button="12").filter__value Грудень
          p.filter__title Місяць
          +svg("arrow-filter")
      .progress__container
      .pagination 


block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
