
extends ../layout/main
block variable
  -
    var title_page = 'purchase-terms'
    var id_page = 'id-page-purchase-terms'
    var class_page = 'class-page-purchase-terms'
    var headerCustomClass = 'type2' 
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]

block meta
  title= title_page
  meta(name='description' content='')
block head
  link(rel='stylesheet' href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/header.bundle.js')
  script(defer src='./assets/scripts/purchaseTerms.bundle.js')
block content
  .background
    canvas.background__canvas
  <div class="scroll is-visible"></div>
  section.about-bukovel.purchase
    .container
      h1.page-title Умови придбання 
      .purchase__info-container 
        .purchase__info-block 
          .purchase__info-text 
            h3.purchase__info-title 100% ОПЛАТА
            p.purchase__info-descr За умови повної оплати ви можете отримати знижку від забудовника MBT Group. Наш відділ продажів із задоволенням розкаже про знижки та спеціальні пропозиції, і разом з вами знайде найвигідніший варіант планувань та умов придбання.
          .bg-parallax-wrap
            img(src="./assets/images/purchaseTerms/info1.jpg" alt="фото" img-paralax)
        .purchase__info-block 
          .purchase__info-text 
            h3.purchase__info-title РОЗСТРОЧКА
            p.purchase__info-descr Купуючи нерухомість у розстрочку, ви сплачуєте перший внесок у розмірі від 50% вартості, а залишок оплачуєте частинам до кінця терміну розстрочки. Деталі про оплату частинами та розрахунок розміру першого внеску ви можете дізнатись від наших менеджерів.
          .bg-parallax-wrap
            img(src="./assets/images/purchaseTerms/info2.jpg" alt="фото" img-paralax) 
  include ../includes/chalet-section.pug
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
