$default-font: 'Gilroy', sans-serif;
$default-font2: 'montser', sans-serif;

$mc2: #ff554c;
$mc3: #e5df06;
$mc4: #4f90b6;
$gray: #878797;
$text: #22223e;
$wc: #fff;
$bc: #000;
$bc2: #000;

$color-white: rgba(255, 255, 255, 1);
$color-yellow: rgba(224, 185, 0, 1);
$color-black: rgba(17, 17, 17, 1);
$color-gray-0: rgba(241, 244, 249, 1);
$color-gray-1: rgba(220, 226, 235, 1);
$color-gray-2: #94989e;
$color-gray-3: rgba(68, 75, 85, 1);
$color-gray-4: #0d141f;

@mixin text-style-1920-h-1() {
  font-size: 250px;
  font-family: $default-font;
  line-height: 90%;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: $color-white;
}

@mixin text-style-1920-h-2() {
  font-size: 180px;
  font-family: 'Gilroy-Medium';
  line-height: 100%;
  text-decoration: none;
  text-transform: uppercase;
}

@mixin text-style-96() {
  font-size: 96px;
  font-family: 'Gilroy';
  font-weight: 700;
  line-height: 100%;
  text-decoration: none;
  text-transform: uppercase;
  color: $color-white;
}

@mixin text-style-link() {
  font-size: 36px;
  font-family: 'Gilroy';
  line-height: 100%;
  font-weight: 500;
  color: $color-yellow;
}
@mixin text-style-link-underlined() {
  font-size: 36px;
  font-family: 'Gilroy';
  line-height: 100%;
  font-weight: 500;
  color: $color-black;
  text-decoration: underline;
}
@mixin text-style-p() {
  font-size: 36px;
  font-family: 'Gilroy';
  font-weight: 500;
  line-height: 100%;
  color: $color-white;
  text-transform: none;
}
@mixin text-style-date() {
  font-size: 36px;
  font-family: 'Gilroy';
  line-height: 100%;
  text-transform: uppercase;
  font-weight: 500;
}

@mixin text-style-1920-h-5-regular() {
  font-size: 24px;
  font-family: 'Gilroy-Medium';
  line-height: 120%;
  text-decoration: none;
  text-transform: none;
}

@mixin text-style-1920-h-5-bold() {
  font-size: 24px;
  font-family: 'Gilroy-Bold';
  line-height: 120%;
  text-decoration: none;
  text-transform: none;
}

@mixin text-style-news-descr() {
  font-size: 16px;
  line-height: 140%;
  font-weight: 500;
  font-family: 'Gilroy';
}

@mixin text-style-1920-tiny() {
  font-size: 14px;
  font-family: 'Gilroy-Medium';
  line-height: 120%;
  text-decoration: none;
  text-transform: uppercase;
}
