.header {
  position: fixed;
  z-index: 10;
  width: 100%;
}

.header-bg {
  display: flex;

  align-items: center;
  background: rgba(17, 17, 17, 0);
  width: 100%;
  height: 80px;
  transition: all 0.3s ease-in-out;
  @include tablet {
    height: 100px;
  }
  @include laptop {
    height: 100px;
    justify-content: space-between;
  }
  @include desktop {
    height: 190px;
  }
  &.scroll-down {
    background: rgba(17, 17, 17, 0.5);
    height: 60px;
    transition: all 0.3s ease-in-out;
    @include tablet {
      height: 80px;
    }
    @include laptop {
      height: 60px;
    }
    @include desktop {
      height: 100px;
    }
  }
}

.blocks-wrap {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: auto;
  & ~ & {
    margin-left: 16px;
  }
  @include tablet {
    gap: 32px;
    & ~ & {
      margin-left: 32px;
    }
  }
  @include laptop {
    margin-left: 0;
    gap: 60px;
    & ~ & {
      margin-left: 0;
    }
  }
  @include desktop {
    gap: 60px;
  }
}

.logo {
  width: 38px;
  height: 33.895px;
  & path {
    fill: $color-yellow;
  }
  @include tablet {
    width: 58px;
    height: 51.735px;
  }
  @include laptop {
    width: 41px;
    height: 37px;
  }
  @include desktop {
    width: 75.392px;
    height: 67.259px;
  }
}

.header__call-btn {
  border-radius: 50%;
  background-color: $color-yellow;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    display: none;
  }
  .svg--link-arrow {
    display: none;
  }
  .svg--link-mobile {
    width: 24px;
    height: 24px;
  }
  @include tablet {
    width: 60px;
    height: 60px;
  }
  @include laptop {
    p {
      display: block;
    }
    .svg--link-mobile {
      display: none;
    }
    .svg--link-arrow {
      display: block;
      width: 28px;
      height: 38px;
    }
    @include text-style-uppercaesed-btn;
    border-radius: none;
    background-color: transparent;
    width: auto;
    height: auto;
    gap: 20px;
  }
}

.language__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  order: -1;
  @include tablet {
    flex-direction: row;
    gap: 24px;
  }
  @include laptop {
    order: 1;
    gap: 24px;
  }
}

.language__item {
  text-align: center;
  position: relative;
  @include text-style-uppercaesed-btn;
  text-transform: none;
  text-decoration: none;
  color: $color-white;
  & ~ &::before {
    content: '|';

    transform: rotate(90deg);
    color: inherit;
    opacity: 0.5;
    position: absolute;
    left: 13px;
    bottom: 60%;
    font-size: 30px;
  }
  @include tablet {
    flex-direction: row;
    & ~ &::before {
      transform: rotate(0deg);
      left: -13px;
      bottom: 25%;
      font-size: 18px;
    }
  }
}

.header__logo {
  order: -1;
  display: flex;
  align-items: center;
  gap: 4px;
  @include tablet {
    gap: 8px;
  }
  @include laptop {
    order: 0;
    gap: 12px;
  }
  @include desktop {
    gap: 20px;
  }
}

.header__logo-name {
  display: none;
  @include laptop {
    display: block;
    @include text-style-uppercaesed-btn;
    text-transform: none;
    text-decoration: none;
    color: $color-white;
  }
}
.header__logo-name--mobile {
  @include text-style-uppercaesed-btn;
  text-transform: none;
  text-decoration: none;
  color: $color-white;
  @include laptop {
    display: none;
  }
}
//modal Call us

.call-us__modal-container {
  display: flex;
  flex-direction: column;
  gap: 28px;
  position: absolute;
  padding: 40px 28px;
  background-color: $color-white;
  max-height: 500px;
  transition: all 1s ease;
  margin-top: 20px;
  // overflow: hidden;

  & .contacts__phone {
    @include text-style-general-style;
  }
}

.hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  max-height: 0px;
}

.close-modal-btn {
  position: absolute;
  top: 12px;
  right: 11px;

  & svg {
    width: 16px;
    height: 16px;
  }
}

.call-us__triangle-decor {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 24px;
  height: 12px;
}

.order-call {
  display: flex;
  flex-direction: column;
}

.order-call__title {
  @include text-style-news-descr;
  color: $color-black;
  margin-bottom: 28px;
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;

  & span {
    width: 64px;
    height: 1px;
    background-color: $color-gray-1;
  }
}

.order-call__number {
  width: 284px;
  padding: 19px 20px;
  border: none;
  outline: none;
  background-color: $color-gray-1;
  margin-bottom: 12px;

  &::placeholder {
    @include text-style-news-descr;
    color: $color-black;
  }
}

.order-call__submit-btn {
  @include text-style-news-descr;
  color: $color-white;
  background-color: $color-black;
  padding: 20px;
  width: 100%;
}

.menu-btn {
  p {
    display: none;
  }

  @include tablet {
    display: flex;
    align-items: center;
    gap: 12px;

    p {
      display: block;

      @include text-style-general-style;
      color: $color-white;
    }
  }
  @include desktop {
    gap: 20px;
  }
}

.menu-btn__burger {
  height: 3px;
  width: 28px;
  background-color: $color-white;
  position: relative;

  & .line-over {
    content: '';
    position: absolute;
    display: block;
    height: 3px;
    top: -6px;
    left: 0;
    width: 54%;
    background-color: inherit;
  }

  & .line-under {
    content: '';
    position: absolute;
    display: block;
    height: 3px;
    bottom: -6px;
    left: 0;
    width: 100%;
    background-color: inherit;
  }
}

//menu

.menu__container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
}

.menu__bg {
  perspective: 1000px;
  width: 100vw;
  height: inherit;
  background-color: transparent;
}

.menu__bg-svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  object-fit: cover;

  transform: scale(10);
  opacity: 0;
  // transform: translateZ(1000px);

  // &:hover {
  //   transform: translateZ(1000px);

  //   .menu__bg {
  //     background-color: #F8F8F8;
  //   }
  // }
}

.header__nav-container {
  padding-top: 156px;
  opacity: 0;

  & .main-nav__link {
    color: $color-gray-4;
  }

  & .sub-nav__title {
    color: $color-gray-4;
  }

  & .sub-nav__link {
    color: $color-gray-3;
  }
}

.type2 {
  & .language__item {
    color: $color-black;
  }

  & .header__logo-name {
    color: $color-black;
  }

  & .menu-btn {
    color: $color-black;
  }

  & .menu-btn__burger {
    background-color: $color-black;
  }

  & .scroll-down {
    & .language__item {
      color: $color-white;
    }

    & .header__logo-name {
      color: $color-white;
    }

    & .menu-btn {
      color: $color-white;
    }

    & .menu-btn__burger {
      background-color: $color-white;
    }
  }
}

// .lenis.lenis-smooth [data-lenis-prevent] {
//   overscroll-behavior: contain;
// }
